
h1{
    text-align: center;
}
footer{
    text-align: center;
}
table{
    width: auto;
    margin: auto;
    text-align: left;
}
#submitButton{
    width: fit-content;
    float: right;
    
}

h3{
    background-color: gold;
}